body{
    background-color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    background-color: #ffffff;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#header{
    background-color: silver;
    text-align: center;
    width: 1100px;
    border: 20px;
    border-color: seashell;
    margin-left: auto;
    margin-right: auto;
}
#content{
    padding-left: 10px;
}
#PROJECT{
    width: 550px;
    float: left;
    background-color: cornsilk;
    padding: 10px;
}
#about{
    width: 550px;
    float: right;
    padding: 9px;
    background-color: cornsilk;
}
#footer{
    clear: both;
    padding: 10px;
    background-color: #222222;
    text-align: right;
    color: #ffffff;
}
h3{
    color: chartreuse;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 960px){
    #container{
        width: auto;
        height: auto;
    }
}
    