body{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    background-color: #ffffff;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#header{
    text-align: center;
    width: 1100px;
    border: 20px;
    border-color: seashell;
    margin-left: auto;
    margin-right: auto;
}
#content{
    padding-left: 10px;
}
#PROJECT{
    width: 550px;
    float: left;
    background-color: cornsilk;
    padding: 10px;
}
#about{
    width: 550px;
    float: right;
    padding: 9px;
    background-color: cornsilk;
}
#footer{
    text-align: center;
    color: #ffffff;
}
h3{
    color: chartreuse;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#webcoderskull{
    position: absolute;
    left: 0;
    top: 5%;
    padding: 0 10px;
    width: 100%;
    text-align: center;
}

canvas{
    height:125vh;
    background-color:#16a085;
}
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}


/* Other styles for the page not related to the animated dropdown */

@media (max-width: 1200px){
    #container{
        width: auto;
        height: auto;
    }
    #header{
        width: auto;
    }
    #PROJECT{
        width: auto;
        height: auto;
    }
    #about{
        width: auto;
        height: auto;
    }
    #footer{
        width: auto;
    }
}
    